[submodule "less/ignite"]
	path = less/ignite
	url = https://github.com/viur-framework/ignite.git
[submodule "embedsvg/icons"]
	path = embedsvg/icons
	url = https://github.com/viur-framework/viur-icons.git
