@charset "UTF-8";
/* General Bones Styling */

.vi-bone {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  * + & {
    margin-top: @innerSpace;
  }
  &-container {
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
    align-items: flex-start;
    margin-left: -1px;
    flex-direction: column;
    & > * + * {
      margin-left: 10px;
    }
    &-langcontent {
      display: flex;
      flex-basis: 100%;
    }
    &-langbtns { }
    &.supports-upload {
      position: relative;
      border: 2px dashed #ccc;
      padding: @innerSpace @innerSpace @bottomSpace + 5px;
      margin: @defaultMargin -2px;
      &:after {
        content: attr(title);
        font-size: .75em;
        line-height: .75em;
        font-weight: @fontWeightBold;
        color: #bbb;
        position: absolute;
        bottom: 10px;
        right: 10px;
      }
    }
  }
}

.vi-bone-language-actions{
  padding-left:1px;
}

.flr-bone-languages .btn--lang{
  border-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.flr-bone-languages .flr-bone-widgets{
  border-bottom: 0;
}

.lang-tab-spacer{
  flex-grow: 1;
  align-self: start;
  border-top: 1px solid #e0e0e0;
}

.flr-bone-multiple-wrapper{
    border: 1px solid #e0e0e0;
    padding: 10px;
    margin-left: 0px;
    margin-top: 5px;
    width: 100%;
}

.flr-bone-dragger{
  margin:0px;
  border: 1px solid #e0e0e0;
  padding: 3px 11.25px;

}


.vi-bone-language-actions > *:nth-last-child(2){
  border-bottom-right-radius: 4px!important; /**todo variable*/
}

/* Bone imports */
@import "file";
@import "numeric";
@import "relational";
@import "select";
@import "string";
@import "text";
@import "record";
@import "date";
